* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --mainRed: #e50914;
  --mainHoverRed: #831010;
  --mainWhite: #fff;
  --mainBlack: #000;
  --mainGrey: #232323;
  --lighterGrey: #2d2d2d;
  --shadeOfGrey: #564d4d;
  --mainTransition: all 0.3s ease-in-out;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  padding: 0 2rem;
}
.navbar {
  padding: 1.5rem;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 1.7rem;
}
.hero {
  background: linear-gradient(
      to top,
      rgb(0, 0, 0, 0.8) 0,
      rgb(0, 0, 0, 0) 60%,
      rgb(0, 0, 0, 0.8) 100%
    ),
    url(../public/hero.jpg) center/cover no-repeat;
  /* height: 70vh; */
}
.sign-in-btn {
  background-color: var(--mainRed);
  border: none;
  color: var(--mainWhite);
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  font-weight: bold;
  border-radius: 0.3rem;
}
/* make a hover color later */
.sign-in-btn:hover {
  background-color: var(--mainHoverRed);
}

/* divider */
.divider {
  background-color: var(--lighterGrey);
  height: 0.5rem;
}

#languages {
  background-color: var(--lighterGrey);
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
  color: var(--mainWhite);
  font-weight: bold;
  text-transform: capitalize;
}

.sign-in-container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.hide {
  display: none;
}

/* the hero title and description style */
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--mainWhite);
  padding: 2rem 2rem 1rem;
}
.hero-text h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
  line-height: 1.3;
}
.hero-text h1::first-letter {
  text-transform: uppercase;
}
.hero-text p {
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
  text-align: center;
  line-height: 1.5;
}
.input-wrapper {
  position: relative;
}
.email-input {
  display: block;
  color: var(--mainWhite);
  background-color: var(--mainGrey);
  border: none;
  padding: 1.2rem 1rem 0.5rem;
  width: 80vw;
  border-radius: 0.5rem;
  border: 1px solid var(--shadeOfGrey);
}
.email-label {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--mainTransition);
  cursor: text;
  font-size: 1rem;
}
.email-input:focus ~ .email-label {
  transform: translateY(-0.8rem);
  font-size: 0.6rem;
}
.get-started-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--mainRed);
  color: var(--mainWhite);
  margin: 1rem auto;
  padding: 0.5rem 0.8rem;
  text-transform: capitalize;
  border: none;
  border-radius: 0.3rem;
}
/* change the hover color later */
.get-started-btn:hover {
  background-color: var(--mainHoverRed);
}
.get-started-btn span {
  font-size: 1.2rem;
}
.arrow-icon {
  font-size: 2rem;
}

/* faq section */
.faq-container {
  color: var(--mainWhite);
  /* temporary margin */
  margin-bottom: 5rem;
}
.faq-title {
  text-transform: capitalize;
  margin: 1rem 0;
  font-size: 1.125rem;
  font-weight: 500;
}
.questions-list {
  list-style: none;
}
.single-question-container {
  margin-bottom: 0.5rem;
}
.question-btn {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  background-color: rgb(45, 45, 45);
  border: transparent;
  color: var(--mainWhite);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.17rem;
  transition: all 250ms ease-in-out;
}
.question-btn:hover {
  background-color: rgb(65, 65, 65);
}
.question-btn .btn-icon {
  font-size: 1.5rem;
}
.answer-container {
  margin-top: 1px;
  background-color: rgb(45, 45, 45);
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}
.answer {
  padding: 1.5rem;
  line-height: 1.5;
  font-size: 1.17rem;
}

/* end of faq section */
